---
  import BaseHeadLayout from '../layouts/BaseHeadLayout.astro';
  import BlogHeadLayout from '../layouts/BlogHeadLayout.astro';
  import PageLayout from '../layouts/PageLayout.astro';
  import Header from '../components/Header.astro';
  import Footer from '../components/Footer.astro';
  import './prism-nord.css';
  
  const { content } = Astro.props;

  const linkBase = 'https://trainingmontage.dev/';
  const linkExt = content.root ? content.root : 'posts/';
  const permalink = linkBase + linkExt + slugify(content.title);
  function slugify(str) {
    return str.toLowerCase().replace(/[.,\/#!$%\^&\*;:{}=\-_`~()]/g, '').split(' ').join('-');
  }
---

<BaseHeadLayout title={content.title}>
  <BlogHeadLayout
    title={content.title} 
    description={content.description}
    permalink={permalink}
  />
</BaseHeadLayout>
<Header />
<PageLayout>
<article class="post flow">
  <section class="post-header flow">
      <h2 class="post-title">{content.title}</h2>
      <time>
        {
          new Date(content.date)
            .toLocaleDateString(
              "en-US",
              {
                weekday: 'long', 
                year: 'numeric',
                month: 'long',
                day: 'numeric'
                }
            )
          }
      </time>
      <ul class="tags-list">
        {content.tags.map(
          (tag) => <li class="tag-item">
            <a href={"/tag/" + tag} class="post-tag">{tag}</a>
          </li>)}
      </ul>
  </section>
  <section class="post-content flow">
    <slot />
  </section>
</article>
</PageLayout>
<Footer />